In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    RandomForestClassifier,
    GradientBoostingClassifier,
    AdaBoostClassifier
)
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.datasets import load_iris

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['Target'] = iris.target

In [3]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
df.shape

(150, 5)

In [5]:
df['Target'].value_counts()

Target
0    50
1    50
2    50
Name: count, dtype: int64

In [6]:
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Target               0
dtype: int64

In [7]:
df.duplicated().sum()

1

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.duplicated().sum()

0

In [10]:
X = df.drop('Target', axis=1)
y = df['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, shuffle=True)

In [11]:
transformer = ColumnTransformer(transformers=[
    ('scaler', StandardScaler(), [0, 1, 2, 3])
])
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

In [12]:
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "AdaBoost": AdaBoostClassifier(),
    "SVM": SVC(),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Naive Bayes": GaussianNB()
}

In [13]:
results=[]
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    f1 = f1_score(y_test, y_pred, average='weighted')
    confusion = confusion_matrix(y_test, y_pred)

    results.append({
        'Model' : name,
        'Accuracy' : accuracy,
        'Precision' : precision,
        'Recall' : recall,
        'F1' : f1
    })

results_df = pd.DataFrame(results)
results_df.sort_values(by="Accuracy", ascending=False)

                 Model  Accuracy  Precision  Recall   F1
0  Logistic Regression       1.0        1.0     1.0  1.0
1        Decision Tree       1.0        1.0     1.0  1.0
2        Random Forest       1.0        1.0     1.0  1.0
3    Gradient Boosting       1.0        1.0     1.0  1.0
4             AdaBoost       1.0        1.0     1.0  1.0
5                  SVM       1.0        1.0     1.0  1.0
6  K-Nearest Neighbors       1.0        1.0     1.0  1.0
7          Naive Bayes       1.0        1.0     1.0  1.0

In [15]:
X_train = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
]
X_train[1][2]

6